form{
  text-align: center;
  background-color: lightgrey;
  padding: 50px 840px;
}
form button{
  margin: 0 40px -100px 0;
}
.btn-secondary{
  border-radius: 50%;
}

.table-striped{
  width: 30%;
  margin-left: 200px;
  margin-top: 50px;
  margin-right: 520px;
}

.binom{
  float: right;
  margin-top:-185px;
  margin-right: 20px;
}

.binom .table-striped{
  margin-top: 34px;
   width: 80%;
   margin-left: 160px;
   
}
